<div class="w3-responsive">
    <table class="w3-table-all">
        <tr class="w3-orange">
            <th>Type</th>
            <th>buy price</th>
            <th>nr owned</th>
            <th>nr wanted</th>
            <th>sell price</th>
            <th>price change</th>
        </tr>
        <tr *ngFor="let animal of animals">
            <td>{{animal.name}}</td>
            <td>{{animal.buyPrice}}</td>
            <td>{{animal.nrOwned}}</td>
            <td><input type="number" [formControl]="animal.nrWantedFC" min="0"/>{{animal.nrWantedFC.valid}}</td>
            <td>{{animal.sellPrice}}</td>
            <td>{{animal.priceChange}}</td>
        </tr>
        <tr>
            <th>subtotal</th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th>{{subTotal}}</th>
        </tr>
    </table>
</div>